@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap'); 

html, body, [class*="css"] {
    font-family: 'Roboto'; 
    font-size: 18px;
    font-weight: 500;
    color: #091747;
}
