@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap'); 

html, body, div, [class*="css"] {
    font-family: 'Roboto', slab; 
    font-size: 18px;
    font-weight: 500;
    color: #091747;
}
